body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

#app {
    text-align: center;
    padding: 20px; /* added padding to ensure content isn't up against the screen edges */
    box-sizing: border-box; /* to make sure padding doesn't affect overall width */
}

#teamsAlive {
    margin-bottom: 20px; /* space between team count and team boxes */
}

.teams {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Adjust gap between team boxes */
    max-width: 1920px; /* limit maximum width to accommodate typical 1080p resolution */
    margin: auto; /* center the container */
}

.team {
    box-sizing: border-box; /* include padding and border in total width/height */
    padding: 10px; /* reduced padding to save space */
    width: calc(25% - 20px); /* four teams per row - gap */
    background-color: #dde5ff;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    margin-bottom: 10px; /* space between rows of teams */
}

.team.eliminated {
    opacity: 0.5;
    text-decoration: line-through;
}

button {
    padding: 5px 10px; /* reduced padding to save space */
    margin-top: 10px;
    display: block; /* make buttons take full width */
    width: 100%; /* make buttons take full width */
}

input[type="text"] {
    margin-bottom: 5px; /* space between input fields */
    width: calc(100% - 20px); /* full-width inputs, accounting for padding */
    box-sizing: border-box; /* include padding and border in total width/height */
}
